.shippingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50%;
    height: 100%;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 3px 3px 7px #69696965;
}

.mr5 {
    margin-right: 5px;
}

.inlineInputs {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 30px;
}

.inlineInputs label {
    line-height: 1;
}

.inputError {
    width: 100%;
    background: rgb(216, 216, 216);
    border: none;
    border-radius: 50px;
    margin-bottom: 5px;
}

.inputError p {
    color: lightcoral;
    font-size: 12px;
    margin: 2px;
}

.formControl {
    height: 28px;
    width: 100%;
    padding: 3px 10px;
    border-radius: 50px;
    margin-bottom: 5px;
    outline: none;
    border: none;
}

.checkbox {
    transform: scale(1.3);
    margin-right: 5px;
}


@media only screen and (max-width: 600px) {
    .shippingContainer {
        width: 100%;
    }
}
