.container {
    font-family: 'Segoe UI', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(72, 72, 72, 0.5);
    z-index: 10;
    color: #171923;
}

.defaultModalStyle {
    position: relative;
    padding: 10px 19px;
    max-width: 850px;
    border-radius: 21px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 13px #69696965;
}

.defaultModalStyle ol,
.defaultModalStyle li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.defaultModalStyle ol {
    margin-bottom: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.header,
.content {
    margin-bottom: 8px;
}


@media only screen and (max-width: 600px) {
    .container {
        min-height: 120vh;
    }

    .content {
        flex-direction: column;
    }

    .defaultModalStyle {
        display: flex;
        flex-direction: column;
        padding: 5px 8px;
    }

    .defaultModalStyle h3 {
        font-size: 16px;
    }

    .defaultModalStyle li {
        font-size: 13px;
    }

    .header h2 {
        font-size: 18px;
    }
}
